@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* koa = custom tailwind */
.koa-top-menu-expanded{
   @apply absolute top-10 z-50 w-full bg-white shadow-md text-center animate-slideDown;
}

.koa-top-menu-item {
   @apply cursor-pointer py-1 hover:text-gray-800 relative after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:bg-coffee-200 after:lg:h-0.5 after:lg:w-0 hover:after:lg:w-full after:lg:transition-all after:lg:ease-in-out after:duration-300;
}

.koa-top-menu-item-active {
   @apply text-gray-900 font-bold;
}

.koa-icon {
   @apply w-5 h-5 inline-block ;
}

.koa-badge-circle{
   @apply text-xs text-center rounded-full px-1.5;
}

.koa-subheadline{
   @apply flex justify-center items-center my-24;
}

.koa-subheadline-dec-line{
   @apply w-8 h-px bg-gray-200;
}

.koa-subheadline-label{
   @apply uppercase mx-4 tracking-widest text-gray-500 font-medium text-[12px] text-center;
}

.koa-button{
   @apply text-center uppercase tracking-wider py-4 px-8 text-[13px] font-semibold cursor-pointer hover:bg-opacity-95
}

.top{
   background: #A25F4B;
   position: fixed;
   bottom: 16px;
   right:32px;
   width:50px;
   height:50px;
   border-radius: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size:32px;
   text-decoration: none;
   opacity:0;
   pointer-events: none;
   transition: all .4s;
}

.top:hover{
   background: #744838;
   color: white;
}

.top.active {
   bottom:32px;
   pointer-events: auto;
   opacity:1;
}